
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFBD59;
    font-family: Montserrat;
  
}
header {
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#logo {
    width: 75px;
    text-align: left;
}

h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 50px;
    font-family: Chewy;
    margin: 0;
}



nav {
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;


}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

#menu li a:hover {
    color: #FFBD59;
}
#cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#derecha {
    float: right;
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 20%;
}

#izquierda {
    float: left;
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 20%; ;
}

#centro {
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 60%;
}

section {
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}



footer {
    background-color: #FAD516;
    border: solid 3px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
#derechos, #desarrollado {
    font-size: 10px;
}